<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block tittle %}{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static',filename='bootstrap/css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='bootstrap/js/bootstrap.js')}}">
    <style>
        body{
            
            background-repeat:no-repeat;
            width: cover;
            background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9),rgba(0,0,0,0.9)),url("{{url_for('static',filename='images/desktop.jpg')}}");
        }
    </style>
</head>
<body>
    <script src="{{url_for('static',filename='bootstrap/js/bootstrap.esm.min.js.map')}}"></script>
    {% block body %}
    {% endblock %}
</body>
</html>