{% extends 'base.html' %}

{% block tittle %}
forgotpassword
{% endblock %}


{% block body %}
<form action="" method="post">
    <div class="container">
        <div class="row">
            <div class="card">
                {% with messages=get_flashed_messages(with_categories=True) %}
                {% if messages %}
                 {% for category,msg in messages %}
                 <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                  <strong>{{msg}}</strong> 
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
        
                 {% endfor %}
                {% endif %}
        
                {% endwith %}
                <h3>Forgotpassword</h3>
                <label for="">Email</label>
                <input type="email" placeholder="Enter your email" name="email" required>
                <input type="submit" value="Submit" class="btn btn-success">
            </div>
        </div>
    </div>
</form>
{% endblock %}