{% extends 'base.html' %}

{% block title %}
{% endblock %}


{% block body %}
<form action=""method='POST'>
    <div class="container">
        <div class="row">
            <div class="card">
                {% with messages=get_flashed_messages(with_categories=True) %}
                {% if messages %}
                 {% for category,msg in messages %}
                 <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                  <strong>{{msg}}</strong> 
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
        
                 {% endfor %}
                {% endif %}
        
                {% endwith %}
                <h3>Welcome Back</h3>
                <input type="text" placeholder="Enter your name or email" name="name" required>
                <input type="password" placeholder="password"name="password" required> 
                <input type="submit" value="Login" name="" id="">
                <p><a href="/forgotpassword">Forgot password?</a></p>
                <p>Don't have an account? <a href="/register">Register here</a></p>
            </div>
        </div>
    </div>
</form>
{% endblock %}